*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

h1{
    margin-top: 8vh;
    color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    margin-top: 4rem;
    border: 1px solid black;
    border-radius: 12px;
    padding: 5rem;
    background: rgba(0, 255, 200, 0.08);
    
}

.display input{
    border: 0;
    outline: 0;
    padding: 8px;
    width: 18vw;
    opacity: .5px;
    font-size: 20px;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    background-color: white;
}
.display img{
    width: 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 22px;

}
.butts{
    display: flex;
    justify-content: space-between;
}

.btn{
    border: .5px solid black;
    border-radius: 6px;
    padding: .5rem;
    cursor: pointer;
}

.btn-success{
    background-color: green;
    color: aliceblue;
}

.btn-danger{
    background-color: rgb(239, 186, 12);
    color: aliceblue;
}
.btn-warning{
    background-color: red;
    color: aliceblue;
    padding: 1rem;
}
.create{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.create button{
    padding: 1rem;
    border: .5px solid black;
    border-radius: 8px;
    width: 18vw;
    cursor: pointer;
}

.create button:hover{
    background-color:black;
    color: aliceblue;
}